# Ignore Jupyter Notebook checkpoint directories
.ipynb_checkpoints/

# Ignore Jupyter Notebook files
*.ipynb

# Ignore Python-related files
__pycache__/
*.pyc

# Ignore environment files
.env
.venv/
env/
venv/

# Ignore output images and data files
*.csv
*.h5
*.hdf5
*.log
*.sqlite3
*.parquet
*.png
*.jpg
*.jpeg

# Custom Jupyter kernel settings
.ipython/
.jupyter/

# Ignore custom folders and files
text/
test[0-9]*.py
memo.txt